.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  background-color: var(--g-color-base-background);
}

.messagesContainer {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  padding: 16px 175px 16px 115px;
  display: flex;
  flex-direction: column;
}

/* Tablet */
@media (max-width: 1279px) {
  .messagesContainer {
    padding: 16px;
  }
}

.dateGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.dateDivider {
  display: flex;
  justify-content: center;
  margin: 12px 0;
  padding: 8px 0;
}
