.body1 {
    font-family: 'TildaSansRegular';
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0;
}

.body2 {
    font-family: 'TildaSansRegular';
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0;
}

.header1 {
    font-family: 'TildaSansRegular';
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
}

.subheader2 {
    font-family: 'TildaSansRegular';
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0;
}

.display3 {
    font-family: 'TildaSansBold';
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0;
}