@import '../fonts.css';
@import '../theme.css';

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  margin: 0;
  padding: 0;
}

.g-root {
  --g-text-subheader-font-family: 'TildaSansRegular';
  --g-text-subheader-font-weight: normal;

  --g-border-radius-xs: 8px;
  --g-border-radius-s: 12px;
  --g-border-radius-l: 20px;
  --g-border-radius-xl: 24px;
}

.g-root_theme_light {
  --g-color-base-generic-accent-disabled: rgba(115, 115, 115, 1);
  --background-color: rgba(255, 255, 255, 0.85);

  --g-color-base-generic: var(--g-color-base-light);
  --g-color-base-generic-hover: var(--g-color-base-light-hover);

  --g-color-base-brand: rgba(98, 139, 53, 1);
  --g-color-line-brand: rgba(98, 139, 53, 1);
  --g-color-base-brand-hover: rgba(98, 139, 53, 0.85);

  --g-text-input-border-width: 1px;
  --g-text-area-border-width: 1px;

  --g-text-input-background-color: var(--background-color);
  --g-font-family-sans: 'Inter', sans-serif;

  --g-text-header-font-weight: 600;
  --g-text-subheader-font-weight: 600;
  --g-text-display-font-weight: 600;
  --g-text-accent-font-weight: 600;

  --g-color-line-generic-accent: rgba(0, 0, 0, 0.15);
  --text-secondary: rgba(0, 0, 0, 0.5);
  --text-hint: rgba(0, 0, 0, 0.3);

  --g-color-text-brand-contrast: rgba(255, 255, 255, 1);
  --g-color-text-hint: var(--text-hint);
}
