.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 16px;
  margin-bottom: 24px;
  cursor: pointer;
  border-radius: 24px;
  background-color: rgba(131, 183, 73, 0.3);
  transition: background-color 0.2s;
}

.container:hover {
  background-color: rgba(131, 183, 73, 0.4);
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(131, 183, 73, 0.5);
  flex-shrink: 0;
}

.avatarIcon {
  color: var(--g-color-text-primary);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.arrowButton {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  background-color: var(--g-color-base-light) !important;
  border-radius: var(--g-border-radius-l) !important;
}
