.container {
  padding: 32px 0;
  cursor: pointer;
  transition: background-color 0.2s;
  border-top: 1px solid var(--g-color-line-generic);
  border-bottom: 1px solid var(--g-color-line-generic);
}

.container:hover {
  background-color: var(--g-color-base-simple-hover);
}

.container:active {
  background-color: var(--g-color-base-simple-hover-solid);
}

.container.active {
  background-color: var(--g-color-base-selection);
}

.userRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  flex-shrink: 0;
  width: 50px !important;
  height: 50px !important;
}

.textBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  min-width: 0;
  height: 50px;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.meta {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  flex-shrink: 0;
  height: 50px;
}

.date {
  font-size: 13px;
  line-height: 16px;
}

.unreadDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--g-color-base-danger);
}
