.container {
  padding: 12px 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-bottom: 1px solid var(--g-color-line-generic);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container:hover {
  background-color: var(--g-color-base-simple-hover);
}

.container:active {
  background-color: var(--g-color-base-simple-hover-solid);
}

.container.active {
  background-color: var(--g-color-base-selection);
}

.userSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.date {
  flex-shrink: 0;
}

.messagePreview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-left: 40px; /* Отступ под аватар */
}

.preview {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}
