div.g-text-input__additional-content.g-text-input__additional-content_placement_end {
  padding-inline-end: 8px;
}

input.g-text-input__control::placeholder {
  font-size: 15px;
  line-height: 20px;
}