.container {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  margin-bottom: 12px;
  max-width: 70%;
}

.container.own {
  align-self: flex-end;
  flex-direction: row-reverse;
}

.avatar {
  flex-shrink: 0;
}

.avatarSpacer {
  width: 42px;
  flex-shrink: 0;
}

.messageBubble {
  background-color: var(--g-color-base-generic);
  padding: 12px;
  border-radius: var(--g-border-radius-l);
  word-wrap: break-word;
}

.messageBubble.ownBubble {
  background-color: var(--g-color-base-info-light);
}

.messageText {
  max-width: 100%;
}

.files {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 4px;
}

.fileItem {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 10px;
  background-color: var(--g-color-base-generic-hover);
  border-radius: 8px;
}

.timeBlock {
  display: flex;
  align-items: center;
  gap: 2px;
  flex-shrink: 0;
  align-self: flex-end;
}

.checkIcon {
  color: var(--g-color-text-positive);
}

.time {
  white-space: nowrap;
}

@media (max-width: 767px) {
  .container {
    max-width: 80%;
  }
}

.systemContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  width: 100%;
}

.systemBubble {
  background-color: var(--g-color-base-generic);
  border-radius: var(--g-border-radius-xl);
  padding: 6px 16px;
  border: 1px solid var(--g-color-line-generic);
}
