.fixedHeader {
  position: fixed;
  top: 36px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  z-index: 10;
  pointer-events: none;
}

.fixedHeader > * {
  pointer-events: auto;
}

.absoluteHeader {
  position: absolute;
  z-index: 10;
  top: 36px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.profilePage {
  background-color: #F2F3F2;
}

.authPage {
  padding: 0 16px;
}
