.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  border-bottom: 1px solid var(--g-color-line-generic);
  background-color: var(--g-color-base-background);
}

.userRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
