.container {
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.imageArea {
    position: relative;
    height: 272px;
    flex-shrink: 0;
}

.image {
    object-fit: cover;
}

.textBlock {
    background-color: var(--g-color-base-light);
    padding: 16px 30px 28px;
    box-sizing: border-box;
    flex: 1;
}

.title {
    font-size: 24px;
    line-height: 32px;
}

@media (max-width: 834px) {
    .imageArea {
        height: 260px;
    }
}

@media (max-width: 600px) {
    .imageArea {
        height: 160px;
    }

    .textBlock {
        padding: 8px 16px 16px;
    }

    .title {
        font-size: 20px;
        line-height: 28px;
    }
}
