.container {
    width: 100%;
    height: 160px;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

.image {
    position: relative !important;
    display: block;
    object-fit: cover;
}

.textBlock {
    width: 100%;
    height: fit-content;
    background-color: var(--g-color-base-light);
    padding: 8px 16px 16px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
}