.gap {
  height: 24px;
  width: 100%;
}

.page {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}

.topRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 12px;
}

.title {
  margin: 0;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.avatarWrap {
  position: relative;
  display: flex;
  justify-content: center;
}

.editAvatarButton {
  position: absolute;
  top: 28px;
  left: calc(50% + 34px);
}

.hiddenInput {
  display: none;
}

@media (min-width: 834px) {
  .gap {
    height: 136px;
    margin-bottom: 48px;
    background-color: var(--g-color-base-selection);
  }
  
  .page {
    padding: 0 85px;
  }

  .divider {
    display: none;
  }
}

@media (min-width: 1280px) {
  .page {
    max-width: 910px;
  }
}