.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 80px;
  padding-right: 16px;
}

.header {
  padding: 48px 0 24px;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-bottom: 24px;
}

.tabButton {
  border-radius: var(--g-border-radius-l) !important;
}

.tabButtonActive {
  border-radius: var(--g-border-radius-l) !important;
  background-color: #262626 !important;
  color: white !important;
}

.chatList {
  flex: 1;
  overflow-y: auto;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.emptyState {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  text-align: center;
}
