.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.title {
    text-align: center;
    margin-bottom: 8px;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.actions {
    width: 100%;
}

.hasAccount {
    text-align: center;
    margin-top: 16px;
    color: var(--text-secondary);
}

.reqirementsAndCheckbox {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}