.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  height: fit-content;
  padding: 52px 16px 0;
  overflow: hidden;
}

