.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  height: fit-content;
  padding: 52px 16px 0;
  overflow: hidden;
}

.deleteModal {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
}

.deleteModalActions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 8px;
}

