.heroTitle {
  color: var(--g-color-text-inverted-primary);
  text-align: center;
}

.inputsRow {
  display: flex;
  gap: 16px;
}

.searchGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

@media (min-width: 834px) {
  .searchGrid {
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
}

@media (min-width: 1280px) {
  .searchGrid {
    grid-template-columns: 1.2fr 1.2fr 1fr 1fr 1fr auto;
    align-items: center;
  }
}