.container {
  background-color: #313131;
  border-radius: 30px;
}

.cancelLabel {
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  padding: 12px 10px;
  margin-left: -3px;
  margin-right: 6px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgba(0, 0, 0, 0.18);
  transition: background-color 0.15s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.32);
  }
}
