.container {
  border-radius: 30px;
}

.inputWrapper {
  display: flex;
  align-items: stretch;
  background-color: #e2e2e2;
  border-radius: 20px;
  overflow: hidden;
}

.cancelLabel {
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  align-self: stretch;
  display: flex;
  align-items: center;
  padding: 0 10px 0 13px;
  background-color: rgba(0, 0, 0, 0.15);
  transition: background-color 0.15s;
  font-size: 13px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

.sendWrapper {
  display: flex;
  align-items: flex-end;
  padding: 6px 6px 6px 0;
  flex-shrink: 0;
}

.sendButton {
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  transition: color 0.2s;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
  &:hover:not(:disabled) {
    color: rgba(0, 0, 0, 0.3);
  }

  &:disabled {
    cursor: default;
    color: rgba(0, 0, 0, 0.3);
  }
}

.textarea {
  flex: 1;
  min-height: 42px;
  max-height: 200px;
  padding: 11px 16px;
  border: none;
  outline: none;
  background: transparent;
  resize: none;
  overflow-y: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  font-size: 15px;
  line-height: 1.43;
  font-family: inherit;
  color: inherit;
  box-sizing: border-box;
  width: 100%;

  &::placeholder {
    color: var(--g-color-text-hint, rgba(0, 0, 0, 0.4));
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
