.container {
  display: flex;
  gap: 16px;
  align-items: center;
}

.image {
  border-radius: 8px;
  object-fit: cover;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
  min-width: 0;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detailsRow {
  display: flex;
  align-items: center;
  gap: 16px;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .detailsRow {
    flex-wrap: wrap;
    gap: 8px;
  }
}
