.info {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.backdrop::before {
  content: "";
  position: absolute;
  inset: 0;
  bottom: -2px;
  backdrop-filter: blur(5px);
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 72%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(to top, #f2f3f2, rgba(255, 255, 255, 0));
}

.nameContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 1;
}

.name {
  margin: 0;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.roleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: #fff;
}

.bottomContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (min-width: 834px) {
  .info {
    gap: 8px;
  }

  .nameContainer {
    gap: 8px;
  }
}

@media (min-width: 1280px) {
  .info {
    gap: 16px;
  }
}

