.titleRow {
  display: flex;
  align-items: center;
  gap: 12px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 100%;
}

@media (max-width: 1280px) {
  .title {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (max-width: 834px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 28px;
    line-height: 36px;
  }
}
