.pageInner {
  width: 100%;
  padding: 48px 175px 0;
  max-width: 1280px;
  gap: 24px;
  box-sizing: border-box;
  background: var(--page-color, #f2f3f2);
}

.loading,
.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  /* aspect-ratio: 16 / 5.5; */
  height: 224px;
  overflow: hidden;
  background: var(--g-color-base-misc-medium);
}

.image {
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.meta {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
  min-width: 0;
}

.authorMeta {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
  min-width: 0;
  overflow: hidden;
  cursor: pointer;
}

.authorName {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.views {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--g-color-text-secondary);
}

.stats {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--g-color-line-generic);
  line-height: 0;
  user-select: none;
  margin-inline: -1000px;
  padding-inline: 1000px;
}

.stat {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: 0.2s color;

  &:hover {
    color: var(--g-color-base-generic-accent-disabled);
  }
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.textContent {
  padding-top: 8px;
}

.deleteModal {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  min-width: 300px;
}

.deleteModalActions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 8px;
}

.commentsSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.commentsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-inline: 1000px;
  margin-inline: -1000px;
  border-top: 1px solid var(--g-color-line-generic);
  padding-top: 40px;
}

.showMore {
  cursor: pointer;
  user-select: none;
  text-align: center;
  padding: 8px 0;
  transition: 0.2s color;

  &:hover {
    color: var(--g-color-base-generic-accent-disabled);
  }
}

.cancelReply {
  align-self: flex-start;
  cursor: pointer;
  margin-left: 16px;
  margin-bottom: 4px;
  line-height: 0;
}

@media (max-width: 1280px) {
  .pageInner {
    padding: 40px 85px 0;
    max-width: none;
  }

  .stats {
    margin-inline: 0;
    padding-inline: 0;
  }

  .commentsList {
    padding-inline: 0;
    margin-inline: 0;
    border-top: none;
    padding-top: 0;
  }

  .commentsSection {
    gap: 16px;
  }

  .title {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (max-width: 834px) {
  .pageInner {
    padding: 24px 16px 120px;
  }

  .title {
    font-size: 28px;
    line-height: 36px;
  }
}
