.bgLiquidGlass {
  backdrop-filter: blur(4px);
  background: hsla(0, 0%, 100%, 0.4);
  width: fit-content;
  height: fit-content;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

@supports not (hanging-punctuation:first) {
  .bgLiquidGlass {
    backdrop-filter: url(#displacementFilter) blur(2px);
  }
}