.header {
  height: 136px;
  width: 100%;
  background-color: var(--g-color-base-selection);
}

.layout {
  display: grid;
  grid-template-columns: 440px 1fr;
  height: calc(100vh - 136px);
  gap: 0;
  overflow: hidden;
}

.sidebar {
  background-color: var(--page-color);
  overflow-y: auto;
}

.room {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.emptyState {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
}

/* Tablet */
@media (max-width: 1279px) {
  .layout {
    grid-template-columns: 350px 1fr;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .header {
    display: none;
  }

  .layout {
    grid-template-columns: 1fr;
    height: 100vh;
  }

  .sidebarHidden {
    display: none;
  }

  .roomHidden {
    display: none;
  }
}
