span.g-checkbox__indicator::before {
  background-color: var(--background-color);
}

button.g-button_size_l {
  --_--height: 42px;
}

button.g-button_size_xl {
  --_--height: 48px;
}

button.g-button_view_action {
  --_--background-color: rgba(38, 38, 38, 1);
  --_--background-color-hover: rgba(38, 38, 38, 0.85);
}

button.g-button_view_action::before {
  box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0px -1px 1px 0px rgba(255, 255, 255, 0.3) inset;
}

button.g-button_view_flat {
  --_--border-radius: 50%;
}

div.g-text-input__additional-content.g-text-input__additional-content_placement_end {
  padding-inline-end: 8px;
}

input.g-text-input__control::placeholder {
  font-size: 15px;
  line-height: 20px;
}

