.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.description {
  text-align: left;
  color: rgba(0, 0, 0, 1);
  font-size: 17px;
  line-height: 24px;
  font-family: var(--g-text-subheader-font-family, 'Tilda_Sans_VF', sans-serif);
  font-weight: 500;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.links {
  display: flex;
  justify-content: center;
  gap: 24px;
}
