.outerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.innerContainer {
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 0 16px;
}