.outerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 0 16px;
}
