.user {
  align-items: center;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  display: flex;
  gap: 4px;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}

