.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.heroInner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 440px;
  padding: 0 16px;
  box-sizing: border-box;
}

.heroImage {
  z-index: 0;
  object-fit: cover;
}

.heroContent {
  position: relative;
  max-width: 930px;
  width: 100%;
  z-index: 1;
}

.pageInner {
  width: 100%;
  padding: 48px 175px 0;
  max-width: 1280px;
  gap: 40px;
  box-sizing: border-box;
  background: var(--page-color, #f2f3f2);
}

.popularRoutes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.popularStrip {
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}

.popularInner {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px 175px;
  box-sizing: border-box;
}

@media (max-width: 1280px) {
  .heroInner {
    height: 526px;
    padding: 0 85px;
  }

  .pageInner {
    padding: 56px 85px 0;
    max-width: none;
  }

  .popularInner {
    padding: 56px 85px;
    max-width: none;
  }

  .title {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (max-width: 834px) {
  .heroInner {
    height: auto;
    padding: 80px 16px;
  }

  .pageInner {
    padding: 40px 16px 120px;
    
  }

  .popularInner {
    padding: 40px 16px;
    padding-bottom: 0;
  }

  .popularStrip {
    background: transparent;
  }

  .popularRoutes {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 28px;
    line-height: 36px;
  }
}
